@font-face {
  font-family: Alata;
  src: url(../fonts/Alata-Regular.ttf);
}

@font-face {
  font-family: Roboto-Condensed-Light;
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: Roboto-Condensed;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Coffee;
  src: url(../fonts/Coffee-Teademo-Regular.ttf);
}

body {
  font-family: Roboto-Condensed-Light;
  padding: 0;
  margin: 0;
  font-size: 17px;
}

.main-header {
  text-align: center;
  position: relative;
}

.main-header .main-title {
  color: white;
  font-size: 8vw;
  letter-spacing: 1px;
  font-weight: bold;
  white-space: nowrap;
  left: 6%;
  right: 6%;
  position: absolute;
  bottom: 1%;
  font-family: Coffee;
}

.secondary-header {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 3.5vh;
  text-align: center;
  font-family: Coffee;
  padding-top: 29px;
}

.card#info {
  margin-left: 6%;
  margin-right: 6%;
}

#intro {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#header-bar {
  position: absolute;
  left: 2%;
  width: 96%;
  height: 1px;
  background-color: #818181;
}

.content {
  padding: 15px;
}

.question {
  font-family: Roboto-Condensed;
  font-weight: bolder;
}

.main-photo#one {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url('../img/main.jpg');
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-photo#two {
  background-image: url('../img/two.jpg');
}

.main-photo#three {
  background-image: url('../img/three.jpg');
}

.main-photo#four {
  background-image: url('../img/four.jpg');
}

.main-photo#five {
  background-image: url('../img/five.jpg');
}

#venue, #rsvp, #registry, #party {
  text-align: center;
}

#venue-map {
  width: 80%;
}

.party-pics {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.party-pics li {
  padding-left: 122px;
  padding-right: 122px;
  padding-bottom: 211px;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.headshot-wrapper {
  position: relative;
}

.headshot-wrapper p {
  bottom: 54px;
  position: absolute;
  font-size: 30px;
  visibility: hidden;
  font-family: Alata;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: grey;
}

.headshot-wrapper:hover img {
  opacity: .4;
}

.headshot-wrapper:hover p {
  visibility: visible;
  opacity: 1;
}

#registry {
  padding-bottom: 50px;
}

#party {
  padding-bottom: 20px;
}

#will {
  left: 48px;
}

#jae {
  left: 65px;
}

#andrew {
  left: 10px;
}

#adrian {
  left: 20px;
}

#alex {
  left: 50px;
}

#hannah {
  left: 14px;
}

#katie {
  left: 40px;
}

#tiff {
  left: 16px;
}

#kara {
  left: 48px;
}

#joanne {
  left: 15px;
}

@media (min-width: 1124px) {
  .main-photo {
    min-height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (max-width: 1124px) {
  .main-photo {
    min-height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}